@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-style:normal;
  }

*{
    margin : 0;
    padding: 0;
    font-family: 'GmarketSansLight';
}

p{
    padding: 20% 10% 10% 10%;
    font-size: 100%;
    line-height:28px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style-type: none;
    padding-top : 30px;
    font-weight: bold;
    flex-wrap: wrap;
}

.nav-item{
    padding: 0 10px 0 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.nav-item a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 80%;
}
.nav-item a:hover{
    color: #707070
}
.nav-item:nth-child(3){
    background-color: black;
    color: white;
}
.nav-item:nth-child(3) a{
    color: white;
}

.title{
    border: 2px solid black;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
}

.about-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    border : 2px solid black ;
    border-top : 0;
    font-weight: bold;
}

.about1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30%; */
    margin-bottom: 30%;
    padding:15%;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.about2-top{
    font-weight: bolder;
}

.about2-bottom{
    font-size: 85%;
    padding: 0 10% 10% 10%;
    
}
.about3-top{
    padding: 20% 5% 10% 5%;
    text-align: center;
}

.about3-top-1{
    font-size: 100%;
    padding-bottom: 5%;
    font-weight: 1000;
}

.about3-top-2{
    font-size: 80%;
}

.about3-bottom{
    padding: 20% 10% 10% 10%;
    text-align: center;
}



@media (max-width: 800px){
    .title{
        border-bottom: 0;
    }
    .about-box{
        display: block;
        border-right: 0;
    }
    .about1{
        padding:20%;
        margin: 0;
    }
    .about1,.about2{
        border-bottom: 1px solid #707070;
        /* border-bottom-width: 30px; */
    }
    .about2-top{
        padding-bottom: 15%;
    }
    
    .about3{
        border-right: 2px solid black;
    }
    p,.about3-top{
        padding: 5%;
    }
    p{
        margin: 0;
    }
    .about3-top{
        font-size: 20px;
    }
}