@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-style:normal;
  }

body,html{
  margin: 0;
  font-family: 'GmarketSansLight';
  font-size: 35px;
  font-weight: bolder;
  background-color: black;
  height: 100%;
  width: 100%;
}

.out-line{
  padding: 100px 0 100px 0;
  margin: auto;
  width: 100%;
}

.Roof{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height:120px;
  background:#ffffff;
  border-radius:400px 400px 0 0 / 200px 200px 0 0;
  margin-bottom: 30px;
}

.contents-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin : auto;
  width: 500px;
  height: 100%;
  background:#ffffff;
  border:2px solid black;
}

.contents{
  
  color: black;
  width: 100%;
  border-bottom:2px solid black;
  letter-spacing :2px; 
  }

.content-name{
  padding:0 20px 0 20px;
}
.contents1 .contents3 .contents4{
  display: flex;
  height: 100%;
}
.contents2{
  display: flex;
  height: 100%;
}

.contents5{
display: flex;
height: 100%;
flex-direction: row-reverse;
}

.logo{
  padding-top: 150px;
  margin: auto;
  width: 250px;
  text-align: center;
  
}
.logo img{
  width: 100%;
}

@media (max-width: 550px) {
  .Roof{
    margin-left: auto;
    margin-right: auto;
    width:90%;
    height:100px;
    background:#ffffff;
    border-radius:100% 100% 0 0 / 200% 200% 0 0;
    margin-bottom: 30px;
  }
  .contents{
    letter-spacing :2px; 
  }
  .contents-box{
    margin : auto;
    width: 90%;
    background:#ffffff;
    border:2px solid black;
    font-size: 0.9rem;
  }

  .content-name{
    padding: 0 15px 0 15px;
    }

  .logo{
    width: 50%;
  }
}

@media (max-width: 450px){
  .Roof{
    height: 80px;
  }
  .contents{
    letter-spacing :2px; 
  }
  .contents-box{
    font-size: 0.8rem;
  }
  

}

@media (max-width: 410px){
  .contents-box{
    font-size: 0.7rem;
  }
}

@media (max-width: 365px){
  .Roof{
    height: 70px;
    margin-bottom: 20px;
  }
  .contents-box{
    font-size: 0.60rem;
  }
  .content-name{
    padding:0px 10px 0px 10px;
    }
}

@media (max-width: 310px){
  .Roof{
    height: 60px;

  }
  .contents{
    letter-spacing :2px; 
  }
  .contents-box{
    font-size: 0.55rem;
  }
  .content-name{
    padding:0px 5px 0px 5px;
    }
}

@media (max-width: 285px){
  .contents{
    letter-spacing :2px; 
  }
  .contents-box{
    font-size: 0.45rem;
  }
  .content-name{
    padding: 6px;
    }
}